@model Libreria.Models.Usuario

@{
    ViewData["Title"] = "Registro";
    Layout = null; // Ajusta según sea necesario si usas un layout
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-8 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center w-auto">
                                    @* <img src="~/assets/img/logo.png" alt="Logo"> *@
                                    <span class="d-none d-lg-block">ReyCompany</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3 shadow-lg">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Crear una Cuenta</h5>
                                        <p class="text-center small">Introduzca los Datos para crear una cuenta</p>
                                    </div>

                                    @if (ViewData["Completado"] != null)
                                    {
                                        <div class="alert alert-success">
                                            @ViewData["Completado"]
                                        </div>
                                    }
                                    else if (ViewData["Incompleto"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @ViewData["Incompleto"]
                                        </div>
                                    }

                                    <form asp-action="Registrar" method="post" class="row g-3 needs-validation" novalidate>
                                        <div class="col-12">
                                            <label asp-for="Nombre" class="form-label">Nombre</label>
                                            <input asp-for="Nombre" class="form-control" required autocomplete="off" />
                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Apellidos" class="form-label">Apellidos</label>
                                            <input asp-for="Apellidos" class="form-control" required autocomplete="off" />
                                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Email" class="form-label">Correo Electrónico</label>
                                            <input asp-for="Email" class="form-control" required autocomplete="off" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Contraseña" class="form-label">Contraseña</label>
                                            <input asp-for="Contraseña" type="password" class="form-control" required />
                                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Telefono" class="form-label">Teléfono</label>
                                            <input asp-for="Telefono" class="form-control" required autocomplete="off" />
                                            <span asp-validation-for="Telefono" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                            <input asp-for="FechaNacimiento" type="date" class="form-control" required />
                                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Genero" class="form-label">Género</label>
                                            <select asp-for="Genero" class="form-select" required>
                                                <option value="">Seleccione un género</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                            <span asp-validation-for="Genero" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary w-100">Crear Cuenta</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">¿Ya tienes una cuenta? <a asp-action="Iniciar">Iniciar sesión aquí.</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="credits">
                                @* Create by <a href="https://github.com/Brito13">Raidy</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>
